ul{
    list-style: none;
}
.pagination li{
    min-width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    list-style: none;
    float: left;
    margin-right: 8px;
}
.pagination-item{
    cursor: pointer;
    border-radius: 6px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    min-width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    list-style: none;
    float: left;
    border: 1px solid #d9d9d9;
    background-color: #fff;
    margin-right: 8px;
}
.pagination-item.pagination-item-active{
    background-color: #2db7f5;
    border-color: #2db7f5;
    color: #fff;
}
.pagination-disabled{
    color:#bcbcbc;
}