.dialog-wrap{
    position: relative;
    width: 75%;
    max-width: 768px;
    margin: 0px auto;
    z-index: 1500;
    opacity: 1;
}
.dialog-content{
    color: rgba(0, 0, 0, 0.870588);
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.247059) 0px 2px 3px, rgba(0, 0, 0, 0.219608) 0px 1px 2px;
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
}
.dialog-header{
    margin: 0px;
    padding: 24px 24px 20px;
    color: rgba(0, 0, 0, 0.870588);
    font-size: 22px;
    line-height: 32px;
    font-weight: 400;
    border-bottom-style: none;
}
.dialog-body{
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
    padding: 0px 24px 24px;
    box-sizing: border-box;
}
.dialog-actions{
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    padding: 8px;
    width: 100%;
    text-align: right;
    margin-top: 0px;
    border-top-style: none;
}